TELEGRAM_TOKEN=your_telegram_bot_token
TELEGRAM_CHAT_ID=224556554

VK_ACCESS_TOKEN=your_vk_service_token
VK_GROUP_ID=baraholkanastolok

CHECK_INTERVAL_MINUTES=10

PROXY_USER=your_proxy_login
PROXY_PASSWORD=your_proxy_password
